canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas
registry=https://registry.npmmirror.com/
@cielo:registry=https://artifacts-cn-beijing.volces.com/repository/autelrobotics-npm/
